@import "tailwindcss";

:root {
  /* Forzamos colores claros siempre para evitar bordes negros */
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ELIMINÉ EL MEDIA QUERY DARK MODE PARA QUE NO TE ARRUINE EL FONDO EN MÓVIL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  /* Esto usa tu variable blanca y evita el fondo negro elástico */
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;

  /* --- BLINDAJE PARA MÓVIL (APP FEEL) --- */
  overflow-x: hidden; /* Prohíbe scroll lateral */
  touch-action: pan-y; /* Solo permite scroll vertical */
  -webkit-tap-highlight-color: transparent; /* Saca el flash azul al tocar */
  -webkit-font-smoothing: antialiased; /* Texto nítido */
}