@tailwind base;
@tailwind components;
@tailwind utilities;

/* AGREGÁ ESTO: */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Pinta el fondo "elástico" de blanco */
  overflow-x: hidden; /* Evita desplazamiento horizontal accidental */
  -webkit-tap-highlight-color: transparent; /* Saca el flash azul al tocar botones en Android */
}

/* Opcional: Si querés que el texto se sienta más nativo */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}